{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Central Facilies</u> <span class="lnr lnr-arrow-right text-white"> Hostel</span></h1>
                
            </div>	
        </div>
    </div>
</section> 
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
<!-- <div class="content">
    <div class="content_bottom" style="height: 502px"> -->
        
      <img src="{% static 'img/Mix-Hostel.jpg' %}" style="padding-bottom: 20px" width="100%">
      <h3 align='left'>Central Facilies<u></u> <span class="lnr lnr-arrow-right"> Hostel</span></h3><hr>

<!-- <div class="content">
    <div class="content_bottom">
        
<div class="w_content">

<img src="images/Mix-Hostel.jpg" style="padding-bottom: 20px" width="100%"><br>
<h2><u>CENTRAL FACILITY</u>
<span class="glyphicon glyphicon-arrow-right"></span>
HOSTEL  </h2>
<hr> -->
<p style="text-align: left; text-align: justify;">
The University is residential institution with five boys' hostels named Subhash Bhawan, Raman Bhawan, Vishweswaraya Bhawan (exclusively for first year boys), Tagore Bhawan and Ambedkar Bhawan and three girls' hostels named Saraswati Bhawan, Sarojani Bhawan and Kalpna Chawla Bhawan. These hostels accommodate a total of about 1470 students. The hostels are well furnished with necessary amenities available with in hostel premises. The leased line <b style="font-weight: bold">Internet facility  is available for 24x7 hours (except University hours)</b>  in every room of each hostel.<br>
<br>
Students admitted to the University hostels are provided with the necessary furniture. The students are personally responsible for upkeep of the articles issued to them by the warden in sound condition. First year students are provided with three/two seater rooms as per the availablilty. Senior students are provided with double and single seated rooms depending upon availability.
<br>
<br>
</p>


<h2 align='left'>Details of Hostels for Boys</h2>


<div class=" table-responsive">
<table class="table table-striped table-bordered">
<tbody><tr class="w_trbg">
    <td>

        <b>Sr.</b>
    </td>
    <td>

        <b>Hostel Name</b>
    </td>
    <td>

        <b>Capacity</b>
    </td>
    <td>

        <b>Name of Warden</b>
    </td>
    <td>

        <b>Mobile</b>
    </td>
</tr>
<tr>
    <td>1.
    </td>
    <td>Raman Bhawan
    </td>
    <td>260
    </td>
    <td>I. Dr Rajan Mishra<br>
        II. Dr. Ravi Kumar Gupta
    </td>
    <td>9235500560<br>
        9235552355
    </td>
</tr>
<tr>
    <td>2.
    </td>
    <td>Subhash Bhawan
    </td>
    <td>240
    </td>
    <td>I. Dr. B.K. Pandey<br>
        II. Sunil Kumar Yadav
    </td>
    <td>9235500512<br>
        9235552353
    </td>
</tr>
<tr>
    <td>3.
    </td>
    <td>Vishveshwaraya Bhawan
    </td>
    <td>200
    </td>
    <td>I. Dr. Jeeoot Singh<br>
        II. Dr. A.K. Barnwal<br>
        III. Dr. Abhishek Kumar Gupta
    </td>
    <td>9235500565<br>
        9235501646
    <br>
        8765783678
    </td>
</tr>
<tr>
    <td>4.
    </td>
    <td>Tagore Bhawan
    </td>
    <td>200
    </td>
    <td>I. Dr. V. L. Gole<br>
        II. Dr. Vinod Kumar Mishra
    </td>
    <td>8765783815<br>
        8765783845
    </td>
</tr>
<tr>
    <td>5.
    </td>
    <td>Ambedkar Bhawan
    </td>
    <td>200
    </td>
    <td>I. Shri D.S. Singh<br>
        II. Dr. Ram Keval
    </td>
    <td>9235500535<br>
        8765783679
    </td>
</tr>
<tr>
    <td>6.
    </td>
    <td>Tilak Bhawan
    </td>
    <td>160
    </td>
    <td>I. Dr. Sudhanshu Verma<br>

        II Rohit Kumar Tiwari
    </td>
    <td>9235500557<br>

        8765783673
    </td>
</tr>
<tr>
    <td>7.
    </td>
    <td>Ramanujam Bhawan
    </td>
    <td>300
    </td>
    <td>I. Dr. Krishna Kumar<br>
        II. Dr. Ravi Shanker<br>
        III. Dr. B. P. Pandey
    </td>
    <td>9235552356<br>
        8765783671<br>
        8765783854
    </td>
</tr>
</tbody></table>
<br>
<h2 align='left'>Details of Hostels for Girls</h2>

<div class=" table-responsive">
<table class="table table-striped table-bordered">
    <tbody><tr class="w_trbg">
        <td>

            <b>Sr.</b>
        </td>
        <td>

            <b>Hostel Name</b>
        </td>
        <td>

            <b>Capacity</b>
        </td>
        <td>

            <b>Name of Warden</b>
        </td>
        <td>

            <b>Mobile</b>
        </td>
    </tr>
    <tr>
        <td>1.
        </td>
        <td>Saraswati Bhawan
        </td>
        <td>70
        </td>
        <td>I. Dr. Manish Kumar<br>
            II. Dr. Dharmendra Kumar
        </td>
        <td>9235500553
        <br>
            
        </td>
    </tr>
    <tr>
        <td>2.
        </td>
        <td>Sarojani Bhawan
        </td>
        <td>70
        </td>
        <td>I. Mrs Meenu<br>
            II. Dr. Harish Chandra
        </td>
        <td>9235500539<br>
            9235501647
        </td>
    </tr>
    <tr>
        <td>3.
        </td>
        <td>Kalpna Chawala Bhawan
        </td>
        <td>100
        </td>
        <td>I. Dr. Prabhakar Tiwari<br>
            II. Miss Swati Gangwar
        </td>
        <td>8765783850<br>
            9235500689
        </td>
    </tr>
    <tr>
        <td>4.
        </td>
        <td>Kasturaba Bhawan
        </td>
        <td>100
        </td>
        <td>I. Dr. Shekhar Yadav<br>
            II. Dr. Jyoti
        </td>
        <td>8765783665<br>
            9235500558
        </td>
    </tr>
</tbody></table>
</div>
<br>
</div>
</div>


        <div class="clear">
        </div>
    </div>
</div>
{% endblock %}