{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Central Facilies</u> <span class="lnr lnr-arrow-right text-white"> Library</span></h1>
                
            </div>	
        </div>
    </div>
</section> 
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
<!-- <div class="content">
    <div class="content_bottom" style="height: 502px"> -->
        
      <img src="{% static 'img/Lib_in.jpg' %}" style="padding-bottom: 20px" width="100%">
      <h3 align='left'>Central Facilies<u></u> <span class="lnr lnr-arrow-right">Library</span></h3><hr>


<!-- <div class="content">
    <div class="content_bottom">
        
<div class="w_content">
<img src="images/Lib_in.jpg" style="padding-bottom: 20px" width="100%"><br>
<h2><u>CENTRAL FACILITY</u>
<span class="glyphicon glyphicon-arrow-right"></span>
LIBRARY</h2><hr> -->
<p style="text-align: left; text-align: justify;">
The Central library operates on open access system. Students and staff members are given free access from 9:15 am to 8:30 pm (Mon-Fri), 9:15 am to 4:30 pm (Saturday &amp; Sunday) to the books and journals, which are kept on open shelves. <br><br>

It contains sufficient number of books and periodicals on scientific, technical and other subjects. Total number of books including bound journals and ISI Code is <b>1,16516 (One Lakh Sixteen thousand five hundred and sixteen)</b>. The library is fully Wi-Fi and also has E-Books and E-Journal facilities. The students   are encouraged to make good use of library and reading halls.

</p>
<br>
<p style="text-align: left; text-align: justify;">
</p><table class="table table-striped table-bordered" style="border-collapse: collapse; background-color: #FFFFFF; border-style: none; border-width: medium; margin-left: 1pt; margin-right: 1pt;" align="left" border="1" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td>
    
        1. 
    
</td>
<td>
    
        Total carpet Area 
    
</td>
<td>
    
        1779.426 sq. meter
    
</td>
</tr>
<tr>
<td>
    
        2. 
    
</td>
<td>
    
        Reading room sitting capacity
</td>
<td>
    
        400

    
</td>
</tr>
<tr>
<td>
    
        3. 
    
</td>
<td>
    
        Air conditioned Reading space 
    
</td>
<td>
    
        250.37 sq. meter
    
</td>
</tr>
<tr>
<td>
    
        4. 
    
</td>
<td>
    
        Working Hours
</td>
<td>
    
       
    9:15 am to 8:30 pm (Mon-Fri)<br>
9:15 am to 4:30 pm (Saturday &amp; Sunday)

    
</td>
</tr>
<tr>
<td>
    
        5. 
    
</td>
<td>
    
        Average books issue/return per day
</td>
<td>
    
        350

   
</td>
</tr>
</tbody></table>
<p></p>
<br>
<p>
</p><h3 align='left'>Special features</h3><br>
<ul align='left'>
<li>Fully Automated issue and return  of books </li>

<li>Fully Wi-Fi</li>

<li>OPAC (Online Public Access Catalogue) is available for 24X7 on Intranet </li>

<li>CCTV Network</li>

<li>Air Conditioned Reading Room Facility (1 No.)</li>

<li>Air Conditioned E-Library cum Reading Room Facility (1No.)</li>

</ul>
<p></p>
<br>
<p>

</p><table class="table table-striped table-bordered" style="border-collapse: collapse; background-color: #FFFFFF; border-style: none; border-width: medium; margin-left: 1pt; margin-right: 1pt;" align="left" border="1" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td width="57">
A
</td>
<td width="463">
Total no. of books including bound journals and ISI Code 
</td>
<td width="104">
116516
</td>
</tr>
<tr>
<td width="57">
1. 
</td>
<td width="463">
No. of Books in Book Bank Section 
</td>
<td width="104">
28476
</td>
</tr>
<tr>
<td width="57">
2. 
</td>
<td width="463">
No. of Books in Reference Section 

</td>
<td width="104">
8760
</td>
</tr>
<tr>
<td width="57">
3. 
</td>
<td width="463">
No. of Books in Reserve Book Bank Section 
</td>
<td width="104">
8564
</td>
</tr>
<tr>
<td width="57">
4. 
</td>
<td width="463">
No. of Books in M.B.A. Book Bank Section 
</td>
<td width="104">
1911
</td>
</tr>
<tr>
<td width="57">
5. 
</td>
<td width="463">
No. of Books in General Section
</td>
<td width="104">
53620
</td>
</tr>
<tr>
<td width="57">
6. 
</td>
<td width="463">
No. of Bound Journals ( International &amp; National )
</td>
<td width="104">
10160
</td>
</tr>
<tr>
<td width="57">
7. 
</td>
<td width="463">
No. of ISI Code 
</td>
<td width="104">
5025
</td>
</tr>
<tr>
<td width="57">
8. 
</td>
<td width="463">
No. of Floppy Disc, CD/ DVD 
</td>
<td width="104">
1100
</td>
</tr>
<tr>
<td width="57">
9. 
</td>
<td width="463">
No. of E-Books (Pearson/ Springer/ Wiley)
</td>
<td width="104">
2705
</td>
</tr>
</tbody></table>

<p></p>
<p >


</p><table class="table table-striped table-bordered" style="border-collapse: collapse; background-color: #FFFFFF; border-style: none; border-width: medium; margin-left: 1pt; margin-right: 1pt;" align="left" border="1" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td width="54">
    B 
</td>
<td width="465">
    Journal Subscription (National/ International) 
</td>
<td width="105">
    Numbers
</td>
</tr>
<tr>
<td width="54">
    1. 
</td>
<td width="465">
    No. of E-Journal Titles: ASME/ASCE/SPRINGER/IEEE/SAA(NDL)
</td>
<td width="105">
  2359
</td>
</tr>
<tr>
<td width="54">
    2. 
</td>
<td width="465">
    Subscribed International / National Journal (Title Nos.) 
</td>
<td width="105">
    63
</td>
</tr>
<tr>
<td width="54">
    3. 
</td>
<td width="465">
    No. of Magazines ( Weekly/Monthly) 
</td>
<td width="105">
   09
</td>
</tr>
<tr>
<td width="54">
    4. 
</td>
<td width="465">
    No. of&nbsp; Daily News papers (including Employment News) 
</td>
<td width="105">
    12
</td>
</tr>
</tbody></table>
<br>
<br>
<p align='left'><b  style="color: black;">C. Thesis &amp; Dissertation Collection (P.G.) : 217</b></p>
<br>
<p align='left'><b  style="color: black;">D. NDL e-Resources</b><br></p>
<p align='left'> 1. World e-Book Library<br></p>
<p align='left'>2. South Asia Archive (SAA) National licensing (perpetual) </p>


<p></p><br>
<p style="text-align: left; text-align: justify;">
The Central library is an institutional member of National Digital Library that has a large collection of e-Book, e-journals &amp; other e-learning resources. Researchers can access these e-resources for improving their knowledge &amp; understanding.   





<br><br>


</p><table border="1" width="95%">
<tbody><tr><td colspan="2"><center>Online NDL Database</center></td></tr>
<tr><td>Catalogue of Books <br>Catalogue of Periodicals</td><td>44,223</td></tr>
<tr><td>List of Current Periodicals</td><td>11,741</td></tr>
<tr><td>Articles Database</td><td>24,915,239</td></tr>
<tr><td>E-books Database</td><td>4,630,338</td></tr>
<tr><td>CD-ROM Database</td><td>1,101</td></tr>
<tr><td>List of Video Recordings</td><td>78,469</td></tr>
<tr><td>List of Sound Recordings</td><td>2,14,831</td></tr>
<tr><td>Database of Thesis and Dissertations</td><td>5,80,736</td></tr>
</tbody></table>
<p></p>
</div>

        <div class="clear">
        </div>
    </div>
</div><br>
{% endblock %}