{% extends 'index.html' %}

{% load static  %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Department</u> <span class="lnr lnr-arrow-right text-white"> Chemical Engineering</span></h1>
                
            </div>	
        </div>
    </div>
</section> 
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
        <h2 align='left'>Faculty Cards</h2><br>
        <h3 align="left" style="background-color: silver; padding: 5px; border-radius: 5px; padding-left: 15px;" >Chemical Engineering</h3><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater8_ctl00_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty287.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater8_ctl00_LinkButton1" title="Xi3OxdT7q/valyO7TWQafI0QhpPELByi" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater8$ctl00$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl00_Label1">Jyoti</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl00_Label2"></span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl00_Label5">ASSISTANT PROFESSOR</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl00_Label6">PhD</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl00_Label7">Advanced oxidation Processes, Polymeric composites, Water treatment</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl00_Label3">09634310718</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl00_Label4">jyotich@mmmut.ac.in</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater8_ctl01_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty286.jpg' %}?63704320756372671" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater8_ctl01_LinkButton1" title="kOyve1RYPo+j3Po4xNVGz4DXBzgZmp5K" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater8$ctl01$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl01_Label1">Prateek</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl01_Label2">Khare</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl01_Label5">ASSISTANT PROFESSOR</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl01_Label6">Ph.D</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl01_Label7">Photocatalyst degradation, Adsorption, New and Renewable Energy (Microbial Fuel Cell), Advance Separation Process (Electrochemical Reduction).</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl01_Label3">7376578301</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl01_Label4">pkch@mmmut.ac.in</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater8_ctl02_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty232.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater8_ctl02_LinkButton1" title="ecMd9apITQxMEUmo51U+8E5J9cvXw70d" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater8$ctl02$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl02_Label1">Ravi</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl02_Label2">Shankar</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl02_Label5">ASSISTANT PROFESSOR</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl02_Label6">PhD</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl02_Label7">Energy and Environment, Bio Chemical Engineering, Chemical Reaction Engineering</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl02_Label3">8765783671</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl02_Label4">rsch@mmmut.ac.in</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater8_ctl03_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty288.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater8_ctl03_LinkButton1" title="jAsHZ/fWYjOFWjQEHlFDSJKOJ71xnfV0" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater8$ctl03$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl03_Label1">Vitthal L.</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl03_Label2">Gole</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl03_Label5">Associate Professor &amp; Head</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl03_Label6">PhD(Tech) (Chemical)
Postdoctorate (USA)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl03_Label7">Process Intensification, Sonochemistry, Advanced Oxidation Process</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl03_Label3">8765783815</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl03_Label4">vlgch@mmmut.ac.in</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater8_ctl04_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty325.jpg' %}?63697881302074920" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater8_ctl04_LinkButton1" title="9+P8oKH9ZWntXlLmZRAxuoVtHfEr3EFetNPtaZZ85Qk=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater8$ctl04$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl04_Label1">Maharshi</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl04_Label2">Yadav</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl04_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl04_Label6">Ph.D(Pursuing) in Chemical Engineering....... .......           
M.Tech in Environmental Engineering (MMMUT, Gkp).....
B.Tech in Chemical Engineering (N.I.E.T Gr. Noida)
</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl04_Label7">Water &amp; Wastewater, Environmental Flow Assessment, Low flow frequency analysis, Noise Pollution. </span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl04_Label3">8375858788</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl04_Label4">maharshiyadav@outlook.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater8_ctl05_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty320.Jfif' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater8_ctl05_LinkButton1" title="d2mJ92StboJVqevEGnyhhVTEcbouVIUc1E2XrIaGScY=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater8$ctl05$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl05_Label1">Ratnesh Kumar</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl05_Label2">Patel</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl05_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl05_Label6">Ph.D(Pursuing,Chemical Engineering),
M.Tech(Chemical Engineering,HBTU,Kanpur),
B.Tech(Chemical Engineering,AEC,Agra)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl05_Label7">Environmental Engineering,Wastewater Treatment,Adsorption,Heat Transfer Operation,Mechanical Operation</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl05_Label3">7895901264</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater8_ctl05_Label4">ratnesh.patel1991@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>

    </div></div>
    {% endblock %}