{% extends 'index.html' %}

{% load static  %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Department</u> <span class="lnr lnr-arrow-right text-white"> Mathematics and Scientific Computing</span></h1>
                
            </div>	
        </div>
    </div>
</section> 
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
        <h2 align='left'>Faculty Cards</h2><br>
        <h3 align="left" style="background-color: silver; padding: 5px; border-radius: 5px; padding-left: 15px;" >Mathematics and Scientific Computing</h3><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl00_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty130.jpeg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl00_LinkButton1" title="8N58pJGr6xxUxHG6LlSFHNRNl6yGhknG" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl00$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl00_Label1">Amit Kumar</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl00_Label2">Barnwal</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl00_Label5">ASSISTANT PROFESSOR</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl00_Label6">Ph.D (IIT Kharagpur)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl00_Label7">Singular Boundary Value problems, Nonlinear Analysis</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl00_Label3">9235501646</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl00_Label4">amit.bhu1@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl01_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty42.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl01_LinkButton1" title="WiiqBJNOH+5uHaosrNcV7c82umtAosOI" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl01$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl01_Label1">D.</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl01_Label2">Kandu</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl01_Label5">ASSOCIATE PROFESSOR</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl01_Label6">M.Sc., Ph.D. (Maths)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl01_Label7">Special Functions, Generalized Hyper geometric Functions</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl01_Label3">9235500511</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl01_Label4">dkandu@rediffmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl02_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty133.jpg' %}?63682223321019268" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl02_LinkButton1" title="YhtcpvxZ81XKF6OIioVYgrTT7WmWfOUJ" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl02$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl02_Label1">Harish </span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl02_Label2">Chandra</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl02_Label5">ASSISTANT PROFESSOR</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl02_Label6">Ph.D., UGC(NET-JRF)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl02_Label7">Algebra: Group Rings,
Solar Physics 
</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl02_Label3">9235501647</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl02_Label4">hcmsc@mmmut.ac.in</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl03_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty204.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl03_LinkButton1" title="2pYo46YjbFkdbloXeGr+DtVdJ/AiI7WV" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl03$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl03_Label1">Ram</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl03_Label2">Keval</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl03_Label5">ASSISTANT PROFESSOR</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl03_Label6">Ph. D. (Department of Mathematics) IIT Roorkee</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl03_Label7">Mathematical Modeling</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl03_Label3">8800716362</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl03_Label4">ramkevalaps@mmmut.ac.in</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl04_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty277.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl04_LinkButton1" title="fDuzX5gJW2aFWjQEHlFDSJKOJ71xnfV0" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl04$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl04_Label1">V. K.</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl04_Label2">Mishra</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl04_Label5">ASSOCIATE PROFESSOR &amp; HEAD</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl04_Label6">M.Sc., Ph.D.(Mathematics)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl04_Label7">Operations Research, Optimization and Inventory Control</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl04_Label3">9452762314</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl04_Label4">vkmmsc@mmmut.ac.in</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl05_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty322.jpg' %}?63702242724924521" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl05_LinkButton1" title="kqwB6wc02w05vFHIs9IFY8oXo4iKhViCtNPtaZZ85Qk=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl05$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl05_Label1">Ananya </span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl05_Label2">Dwivedi</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl05_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl05_Label6">M.Sc.(Mathematics),Ph.D.(Pursuing)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl05_Label7">Mathematical Modelling,Bio-Mathematics</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl05_Label3">9560752940</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl05_Label4">ananyadwivedi24@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl06_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty338.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl06_LinkButton1" title="Nhk2I9Rnxsb0/FTgYkILCjY0BLbPvPcE" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl06$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl06_Label1">Nikhil </span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl06_Label2">Sriwastav</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl06_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl06_Label6">M.Sc.(Maths), CSIR-NET</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl06_Label7">Singular boundary value Problem</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl06_Label3">6393418012</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl06_Label4">nikhilrs@mmmut.ac.in</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl07_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty176.Jfif' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl07_LinkButton1" title="mdTxOcd3s4Ul5Ho7/1w+f1iIs3+xEXLr" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl07$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl07_Label1">Priti </span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl07_Label2">Pathak</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl07_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl07_Label6">Pursuing Ph.d.</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl07_Label7">Singular boundary value problem</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl07_Label3">9532176611</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl07_Label4">pritiipathak@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl08_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty329.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl08_LinkButton1" title="JD3njuuGhe2HX3EWCVyvbliIs3+xEXLr" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl08$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl08_Label1">Rajesh Kumar</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl08_Label2">Mishra</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl08_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl08_Label6"> M.Sc.(Mathematics),CSIR-NET,GATE,Ph.D.(Pursuing)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl08_Label7">Operations Research, Inventory System</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl08_Label3">8506048231</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl08_Label4">rkmishra1019@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl09_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty355.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl09_LinkButton1" title="oxIqG24pWHJi2dSYmLskwFiIs3+xEXLr" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl09$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl09_Label1">Ranu</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl09_Label2">Singh</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl09_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl09_Label6">M.Sc(Mathematics),CSIR(NET),Ph.D.(Pursuing)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl09_Label7">Operations Research</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl09_Label3">9721915054</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl09_Label4">ranusinghgkp@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl10_Image1" class="img_th" src="{% static 'img/faculty/person.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl10_LinkButton1" title="NMMZfG4mGym/HRqAaLXDQQpyjew935RBf1OsYQ00rHQ=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl10$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl10_Label1">Shivangni</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl10_Label2">Mishra</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl10_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl10_Label6"></span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl10_Label7"></span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl10_Label3"></span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl10_Label4">shivangni27mishra1995@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl11_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty265.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl11_LinkButton1" title="HkKOMP4pjbSfaVNL4OJFgh51WSAhuUjqgNcHOBmanko=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl11$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl11_Label1">Suchi</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl11_Label2">Bhatt</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl11_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl11_Label6">M.Sc(Mathematics), CSIR-NET, GATE, Ph.D (Pursuing)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl11_Label7">Algebra :Group rings</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl11_Label3">7458956167</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl11_Label4">1995suchibhatt@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater11_ctl12_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty262.jpg' %}?63688362990537568" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a id="ctl00_ContentPlaceHolder3_Repeater11_ctl12_LinkButton1" title="xa837U8DeEqhTVZ+BTFbRdRNl6yGhknG" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater11$ctl12$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl12_Label1">Vinod </span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl12_Label2">Baniya</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl12_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl12_Label6">M.Sc.(Mathematics), CSIR-UGC NET, 
Ph.D (Pursuing)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl12_Label7">Mathematical Modeling</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl12_Label3">07905712366</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater11_ctl12_Label4">2017008001@mmmut.ac.in</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>

    </div></div>
    {% endblock %}