{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Department</u> <span class="lnr lnr-arrow-right text-white"> Physics & Material Science</span></h1>
                
            </div>	
        </div>
    </div>
</section> 
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
<h2 align='left'>Faculty Cards</h2><br>
<h3 align="left" style="background-color: silver; padding: 5px; border-radius: 5px; padding-left: 15px;" >Physics and Material Science</h3><br>
        <div class="col-md-12 card" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px; height: 100px; ">
                        <img width="100px" id="" class="img_th" src="{% static 'img/faculty/IMGFaculty199.jpg' %}" style=" height:130px;border-width:0px; padding: 0%; margin: 0%; border: 2px solid black;">
                        <a onclick="aspnetForm.target ='_blank';" id="ctl00_ContentPlaceHolder3_Repeater1_ctl00_LinkButton1" title="Ga9a1X99n27un9lxf0bkRYVaNAQeUUNIko4nvXGd9XQ=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater1$ctl00$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl00_Label1">Abhishek Kumar</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl00_Label2">Gupta</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl00_Label5">ASSISTANT PROFESSOR</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl00_Label6">Ph.D.</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl00_Label7">Materials Science &amp; Engineering, Energy Conversion &amp; Storage Devices, Solid State Ionics: Materials &amp; Devices</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl00_Label3">8765783678</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl00_Label4">abhishekgupta.bhu@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div>
        <br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px;">
                        <img id="ctl00_ContentPlaceHolder3_Repeater1_ctl01_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty45.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a onclick="aspnetForm.target ='_blank';" id="ctl00_ContentPlaceHolder3_Repeater1_ctl01_LinkButton1" title="nqqOpC4K4fXAYrNFHFCTDgbaus44SU1O" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater1$ctl01$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl01_Label1">B. K.</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl01_Label2">Pandey</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl01_Label5">Professor &amp; Head</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl01_Label6">D.Phil.</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl01_Label7">Solid State Physics (Electronics, Condensed Matter Physics, Nanomaterial )</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl01_Label3">09415244487</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl01_Label4"> bkpmmmec11@gmail.com, bkp11@rediffmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px;">
                        <img id="ctl00_ContentPlaceHolder3_Repeater1_ctl02_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty70.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a onclick="aspnetForm.target ='_blank';" id="ctl00_ContentPlaceHolder3_Repeater1_ctl02_LinkButton1" title="6jN1bvXgHBdSOkKqsFz+ecBis0UcUJMOBtq6zjhJTU4=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater1$ctl02$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl02_Label1">D.K.</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl02_Label2">Dwivedi</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl02_Label5">PROFESSOR</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl02_Label6">M.Sc.(Gold Medalist),CSIR-NET-JRF, Ph.D(Condensed Matter Physics)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl02_Label7">Amorphous Semiconductors,
Optoelectronic Materials and Devices, Fiber Optic Sensors, Solar Cells</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl02_Label3">09235500510</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl02_Label4">todkdwivedi@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right:10px">
                        <img id="ctl00_ContentPlaceHolder3_Repeater1_ctl03_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty63.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a onclick="aspnetForm.target ='_blank';" id="ctl00_ContentPlaceHolder3_Repeater1_ctl03_LinkButton1" title="4y+XEB2wGA+Ep7rvJlCfbIh1FLoprawXKWrkwAu+LWo=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater1$ctl03$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl03_Label1">Satya Pal</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl03_Label2">Singh</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl03_Label5">ASSISTANT PROFESSOR</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl03_Label6">Ph.D- 2008 Dr. R. M. L. Avadh University Postdoc-IIT Kanpur

            Subject Teaching: Engg. Phys-I  
(2009 onwards)
Engg. Phys-II 
2009 onwards)
Space Science 
2009 Onwards
Nanoscience &amp; Nanotechnology 
2009 Onwards

Computational Technique &amp; Programming (M.Sc Physics 2018 onwards)

Condensed Matter Physics (M.Sc Physics 2018 onwards) 

Thermodynamics &amp; Statistical Mechanics (M.Sc-Physics 2019 Onwards)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl03_Label7">Condensed Matter Physics (Experiment/Theory) / Computational Physics/ Nanoscience



Int. Res.Papers: 31 Published. (26 SCI/Scopus)+ 03 Under Rev.
Nat.Res. Papers:18
Conf.:26Int.+15 Nat.Book-01</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl03_Label3">9450422506</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl03_Label4">singh.satyapal@hotmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater1_ctl04_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty350.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a onclick="aspnetForm.target ='_blank';" id="ctl00_ContentPlaceHolder3_Repeater1_ctl04_LinkButton1" title="Wcqi8fSuNtiKFkHPyODLmR51WSAhuUjqgNcHOBmanko=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater1$ctl04$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl04_Label1">Archana Kumari</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl04_Label2">Singh</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl04_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl04_Label6">M.Sc,Ph.D(pursuing)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl04_Label7">Quantum Dots and Liquid Crystals </span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl04_Label3">7388346916</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl04_Label4">archanasin1503@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width='100px' id="ctl00_ContentPlaceHolder3_Repeater1_ctl05_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty244.jfif' %}" style="height:130px;border-width:0px;border: 2px solid black;">
                        <a onclick="aspnetForm.target ='_blank';" id="ctl00_ContentPlaceHolder3_Repeater1_ctl05_LinkButton1" title="JUg+OrhhlH908Y6I3rr5//3b4iTpEUpXf1OsYQ00rHQ=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater1$ctl05$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl05_Label1">Priyanka</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl05_Label2">Jaiswal</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl05_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl05_Label6">M. Sc. (Physics)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl05_Label7">Synthesis and characterization of Chalcogenide glasses</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl05_Label3">8601228492</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl05_Label4">priyankajaiswal211293@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width='100px' id="ctl00_ContentPlaceHolder3_Repeater1_ctl06_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty323.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black">
                        <a onclick="aspnetForm.target ='_blank';" id="ctl00_ContentPlaceHolder3_Repeater1_ctl06_LinkButton1" title="a4mR5kuPTi48MSX5tLPZZ1iIs3+xEXLr" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater1$ctl06$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl06_Label1">Sadanand</span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl06_Label2">Maurya</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl06_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl06_Label6">Ph.D(Pursuing),JEST &amp;
M.Sc(Solid state physics), </span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl06_Label7">Solar cell, chalcogenide,Semiconductor and solid state physics</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl06_Label3">9807759964</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl06_Label4">sadanand2893@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding-right: 10px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater1_ctl07_Image1" class="img_th" src="{% static 'img/faculty/IMGFaculty336.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black">
                        <a onclick="aspnetForm.target ='_blank';" id="ctl00_ContentPlaceHolder3_Repeater1_ctl07_LinkButton1" title="jSasU56T0WkAjf1ej4bb+V4TznZiFkxuKWrkwAu+LWo=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater1$ctl07$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl07_Label1">Sarvesh Kumar </span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl07_Label2">Gupta</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl07_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl07_Label6">M.Sc. (Physics)</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl07_Label7">Solid State Ionics: Materials and Devices, Condensed Matter Physics</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl07_Label3">9621290293</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl07_Label4">skdephysicist001@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>
        <div class="col-md-12" style="border: 2px solid black; text-align: left;">
            <table class="w_fac" style="width: 100%">
                <tbody><tr>
                    <td style="width:100px; padding: 2px">
                        <img width="100px" id="ctl00_ContentPlaceHolder3_Repeater1_ctl08_Image1" class="img_th" src="{% static 'img/faculty/person.jpg' %}" style="height:130px;border-width:0px;border: 2px solid black">
                        <a onclick="aspnetForm.target ='_blank';" id="ctl00_ContentPlaceHolder3_Repeater1_ctl08_LinkButton1" title="08ARKAFIN8UY8vDSOZtxHh51WSAhuUjqgNcHOBmanko=" href="javascript:__doPostBack('ctl00$ContentPlaceHolder3$Repeater1$ctl08$LinkButton1','')">View Profile</a>
                    </td>
                    <td style="vertical-align: top">
                        <table style="width: 95%; padding: 5px">
                            <tbody><tr>
                                <td style="color: #1b0298; width: 12px;">&nbsp;</td>
                                <td style="height: 10px">&nbsp;</td>
                            </tr>
                            <tr>                                    
                                <td colspan="2" style="height: 10px">
                                    <h5 style="color: #1b0298; font-weight: bolder;  text-decoration:underline;">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl08_Label1">Shambhavi </span>
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl08_Label2">Rai</span>
                                    </h5>
                                </td>
                            </tr>
                            <tr>                                   
                                <td colspan="2">
                                    <h5 style="color: #1b0298; font-weight: bolder;  ">
                                        <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl08_Label5">Research &amp; Teaching Fellow</span></h5>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <h5 style="color: #9C1818">Qualification:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl08_Label6">Ph.D. pursuing
</span></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">
                                    <h5 style="color: #9C1818">Area of Interest:</h5>
                                </td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl08_Label7">Perovskite Solar Cells</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">MOBILE: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl08_Label3">6388933252</span></td>
                            </tr>
                            <tr>
                                <td><b style="color: #9C1818">EMAIL: </b></td>
                                <td>
                                    <span id="ctl00_ContentPlaceHolder3_Repeater1_ctl08_Label4">shambhavigkp01@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div><br>














    </div></div>
{% endblock %}