{% extends 'index.html' %}


{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Courses</u> <span class="lnr lnr-arrow-right text-white"> P.G.</span></h1>
            </div>	
        </div>
    </div>
</section> 
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
<!-- <div class="content">
    <div class="content_bottom"> -->
        
<!-- <div class="w_content">

<h2><u>Courses </u>
<span class="glyphicon glyphicon-arrow-right"></span>
PG Courses</h2><hr> -->



<h3>MASTER OF TECHNOLOGY (M.Tech.)</h3><hr>
<p style="text-align: left; text-align: justify;">
The university offers full time M.Tech. programmes in Civil, Electrical , Electronics &amp; Communication, Mechanical and Computer Sc. &amp; Engineering Departments.
The duration of the M.Tech. programme is 2 years (4 semesters). The first and second semesters of this programme contains the course work while the third and fourth semesters are devoted solely to thesis work. The students are required to submit a dissertation in partial fulfillment of the requirement for the master's degree at the end of fourth semester.</p>
<div class="clr"></div><br>
<h3 >MASTER OF COMPUTER APPLICATION (MCA)</h3><hr>
<div class="clr"></div>
<p style="text-align: left; text-align: justify;">
A 3 year M.C.A. Programme is being offered from the session 1987-88. The present intake is 60. The course aims at training manpower for information system leading to a professional cadre that will develop, install and maintain computer systems for management in industries in addition to application of software development.<br><br>
The course curriculum spreading over six semesters (3 years) includes courses in Computer Science as well as Management and Mathematics with a number of electives like Client Server Computing, Compiler Design, Multimedia Systems, Advanced Computer Networks, Parallel and Distributed Algorithms etc. Students devote the last semester in industry for six months project work that provides them an opportunity to get familiar with state-of-art industry environment/culture.</p>
<div class="clr"></div><br>
<h3>Master IN BUSINESS ADMINISTRATION </h3><hr>
<div class="clr"></div>
<p style="text-align: left; text-align: justify;">The Centre for Management Studies of the university came into existence in 2001. Since then, it has been offering full time MBA programme under self -finance scheme.</p><br>
</div>



        <div class="clear">
        </div>
    </div>
</div>
{% endblock %}