{% extends 'index.html' %}


{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Courses</u> <span class="lnr lnr-arrow-right text-white"> U.G.</span></h1>
            </div>	
        </div>
    </div>
</section> 
    
 <div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;"> 
<!-- <div class="content">
    <div class="content_bottom">
        
<h2><u>Courses </u>
<span class="glyphicon glyphicon-arrow-right"></span>
UG Courses</h2><div class="w_content"> -->

<h3>BACHELOR OF TECHNOLOGY (B.Tech.)</h2>
<hr>    
<p style="text-align: left; text-align: justify;">The university offers 4-year B.Tech. degree programmes in Computer Science &amp; Engineering, Civil Engineering, Mechanical Engineering, Electrical Engineering and Electronics, Communication Engineering &amp; Chemical Engineering branches.<br><br>
The first year course is common to all branches followed by specialized courses in the subsequent years. In final year, the students have to undertake the project work &amp; industrial training besides the subjects as prescribed by Madan Mohan Malaviya University of Technology, Gorakhpur.</p><br>

</div>

        <div class="clear">
        </div>
    </div>
</div>
{% endblock %}