
{% extends 'index.html' %}


{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Admission</u> <span class="lnr lnr-arrow-right text-white"> P.G.</span></h1>
            </div>	
        </div>
    </div>
</section> 
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
<!-- <div class="content_bottom">
                        
    <div class="w_content">
        <h2><u>ADMISSION</u>
            <span class="glyphicon glyphicon-arrow-right"></span>
            PG COURSES</h2>
        <hr> -->
        <div class="clr"></div>
        <p>
            <h3>MASTER OF TECHNOLOGY (M.Tech.)</h3>><hr>
        </p>
        <p><b style="color: black;">
            Details of M.Tech. programmes , no. Of seats and eligibility for admission is detailed below.           
        </b>
        </p>
        <div class="table-responsive">
            <table border="1" class=" table table-bordered table-condensed table-striped table-hover w_tbc">
                <tbody><tr class="w_trbg" style="height: 20px">
                    <td class="w_trbg">
                        
                            <b>S.N.</b>
                        
                    </td>
                    <td class="w_trbg">
                        
                            <b>Departments</b>
                        
                    </td>
                    <td class="w_trbg">
                        
                            <b>Specialization</b>
                        
                    </td>
                    <td class="w_trbg">
                        
                            <b>Number of Seats</b>
                        
                    </td>
                    <td class="w_trbg">
                        
                            <b>Eligibility Qualification</b>
                        
                    </td>
                </tr>
                <tr>
                    <td rowspan="4">
                        
                            1. 
                        
                    </td>
                    <td rowspan="4">
                        
                            Civil Engineering
                        
                    </td>
                    <td>
                        
                            Environmental Engineering
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./B.Tech. or equivalent Engineering degree in Civil/ Environmental/ Chemical/ Structural/Agricultural/ Construction Technology/ Construction Technology and Management with First Class or, if a class/ division is not awarded, and CGPA/CPI is adopted, 6.75 will be considered equivalent to first class/ division.
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            Hill Area Development Engineering
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                           B.E./B.Tech. or equivalent Engineering degree in Civil/ Environmental/ Structural/Agricultural/ Construction Technology/Construction Technology
and Management with First Class or, if a class/division is not awarded, and CGPA/CPI is adopted, 6.75 will be considered equivalent to first class/
division.

                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            Structural Engineering
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./B.Tech. or equivalent Engineering degree in Civil/ Structural/ Construction Technology/ Construction Technology and Management with First Class or, if a class/ division is not awarded, and
CGPA/CPI is adopted, 6.75 will be considered equivalent to first class/ division.

                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            Seismic Design &amp; Earthquake Engineering
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./ B.Tech. or equivalent Engineering degree in Civil/ Structural/ Construction Technology/Construction Technology and Management with First Class or, if a class/ division is not awarded, and CGPA/CPI is adopted, 6.75 will be considered equivalent to first class/ division.
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            2. 
                        
                    </td>
                    <td>
                        
                            Computer Science and Engineering
                        
                    </td>
                    <td>
                        
                            Computer Science &amp; Engineering
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./B.Tech. or equivalent Engineering degree in Computer Science/ Computer Sc. and Engineering/ Computer Engineering/ Software Engineering with
First Class or, if a class/ division is not awarded, and CGPA/CPI is adopted, 6.75 will be considered equivalent to first class/ division.

                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            3. 
                        
                    </td>
                    <td>
                        
                            Information Technology &amp; Computer Applications
                        
                    </td>
                    <td>
                        
                            Information Technology
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./B.Tech. or equivalent Engineering degree in Information Technology/Computer Science/Computer
Sc. and Engineering/Computer Engineering/Software Engineering/MCA with First Class or, if a class/division is not awarded, and CGPA/CPI is adopted, 6.75 will be considered equivalent to first class/division.

                        
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        
                            4. 
                        
                    </td>
                    <td rowspan="2">
                        
                            Electrical Engineering
                        
                        
                        
                        
                        
                    </td>
                    <td>
                        
                            Power Electronics &amp; Drives
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./B.Tech. or equivalent Engineering degree in either Electrical Engineering (EE) or Electrical and Electronics Engineering (EN) with First Class or, if a
class/ division is not awarded, and CGPA/CPI is adopted, 6.75 will be considered equivalent to first class/ division.

                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            Control &amp; Instrumentation
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./B.Tech. or equivalent Engineering degree in Engineering /Technology in Electrical Engineering, Electrical and Electronics Engineering, Instrumentation and Control Engineering, and
Instrumentation Engineering with First Class or, if a class/ division is not awarded, and CGPA/CPI is adopted, 6.75 will be considered equivalent to first
class/ division.

                        
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        
                            5. 
                        
                    </td>
                    <td rowspan="2">
                        
                            Electronics and Communication Engineering
                        
                    </td>
                    <td>
                        
                            Digital Systems
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./B.Tech. or equivalent Engineering degree in Electronics Engineering, Electronics and Communication Engineering, Electronics and Telecommunication Engineering and Electronics and Instrumentation Engineering with First Class or, if a
class/ division is not awarded, and CGPA/CPI is adopted, 6.75 will be considered equivalent to first class/ division.

                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            Communication Engineering
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./B.Tech. or equivalent Engineering degree in Electronics Engineering, Electronics and Communication Engineering, Electronics and Telecommunication Engineering or if a class/ division is not awarded and CGPA/CPI is adopted, 6.75 will be
considered equivalent to first class/ division.

                        
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        
                            6. 
                        
                    </td>
                    <td rowspan="2">
                        
                            Mechanical Engineering
                        
                    </td>
                    <td>
                        
                            Computer Integrated Manufacturing
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./B.Tech. or equivalent. Engineering degree in Mechanical / Production / Industrial / Manufacturing / Automobile / Aerospace Engineering/Aeronautical
Engineering or if a class/ division is not awarded and CGPA/CPI is adopted, 6.75 will be considered equivalent to first class/ division.

                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            Energy Technology &amp; Management
                        
                    </td>
                    <td>
                        
                            18*
                        
                    </td>
                    <td>
                        
                            B.E./B.Tech. or equivalent Engineering degree in Mechanical / Production / Industrial /Energy /Chemical /Automobile/ Aerospace Engineering
/Space Engineering and Rocketry or if a class/ division is not awarded and CGPA/CPI is adopted, 6.75 will be
considered equivalent to first class/ division.

                        
                    </td>
                </tr>
            </tbody></table></div>
            <br>
            <h3>*Two supernumerary seats in each of the above M.Tech. Specialization.</h3>
        
        <p>
            <h3>PROCEDURE FOR ADMISSION</h3>
        </p>
        <p style="text-align: left; text-align: justify;">
           Admission to the course will be made by Madan Mohan Malaviya University of Technology, Gorakhpur through Malaviya Entrance Test.<br>
Reservation rules are followed in admissions as per norms of UP Govt./MMMUT,Gorakhpur.
        
        
        </p><br>
        <p>
            <h3>MASTER OF COMPUTER APPLICATION (MCA)</h3>
        </p><hr>
        <p style="text-align: left;">
            <span class="h3" style="text-align: left;">Intake</span><span style="font-size: larger;">: 75</span> 
        </p>
        <p style="text-align: left; text-align: justify;">
            The admission is open to candidates of both sexes without discrimination of caste, creed and colour . For admission to first year of M.C.A. the candidate should have passed the recognized Bachelor’s degree of minimum three years duration from any University of India as defined by UGC with mathematics at 10+2 level and obtained minimum 50% marks (45% in case of candidates belonging to SC/ST category) in the qualifying examination. The admission to the course is made through Malaviya Entrance Test conducted by MMMUT.
        </p>
        <p>
                <br>
            <h3>MASTER IN BUSINESS ADMINISTRATION</h3>
        
        </p><hr>
        <p style="text-align: left; text-align: justify;">
            The Centre for Management Studies of the university came into existence in 2001 and it is running MBA program under self -financed scheme presently.<br><br>
            <span class="h4">Intake :</span><span style="font-size: larger;">75</span> <br><br>
            <span class="h4">Reservation :</span> <span>as per norms of Govt./ MMMUT.</span>
            <!--[if !supportLineBreakNewLine]-->
        <br>
            <b></b>
        </p>
        <p style="text-align: left; text-align: justify;">
            <span class="h4">Eligibility</span> : : The candidate should have passed the recognized Bachelor’s degree of minimum three years duration from any University of India as recognized by UGC with at least 50% marks (45% in case of candidates belonging to SC/ST category) in the qualifying examination. The admission to the course is made through Malaviya Entrance Test conducted by MMMUT.
        </p><br>
        <p>
            <h3>M.Sc. Physics (Specialization in Electronics)</h3>
        </p><hr>
        <p style="text-align: left; text-align: justify;">
            <span class="h4">Intake :</span> <span style="font-size: larger;">30</span> 
        </p>
        <p style="text-align: left; text-align: justify;">
            <span class="h4">Reservation :</span> as per norms of Govt./ MMMUT.
        </p>
        <p style="text-align: left; text-align: justify;">
            <span class="h4">Eligibility :</span>  The candidate should have passed the recognized Bachelor’s degree in science stream of minimum three years duration from any University of India as recognized by UGC. The candidates must have passed qualifying examination with Physics as a subject for all the three years and with mathematics as another subject for  at least two years and obtained minimum 50%marks (45% in case of candidates belonging to SC/ST category) in the qualifying examination.
        </p>
        <p>
        </p><br>
        <p>
            <h3>M.Sc. Maths (Specialization in Computing)</h3>
        </p>
        <hr>
        <p style="text-align: left; text-align: justify;">
            <span class="h4">Intake :</span> <span style="font-size: larger;">30</span> 
        </p>
        <p style="text-align: left; text-align: justify;">
            <span class="h4"> Reservation :</span>  as per norms of Govt./ MMMUT.
        </p>
        <p style="text-align: left; text-align: justify;">
            <span class="h4">Eligibility :</span> The candidate should have passed the recognized Bachelor’s degree in science stream of minimum three years duration from any University of India as recognized by UGC. The candidates must have passed qualifying examination with Mathematics as a subject for all the three years and obtained minimum 50% marks (45% in case of candidates belonging to SC/ST category) in the qualifying examination.
        </p> 
        


         <p>
            <h3>M.Sc. Chemistry</h3>
        </p>
        <p style="text-align: left; text-align: justify;">
            <span class="h4">Intake :</span><span style="font-size: larger;"> 30</span> 
        </p>
        <p style="text-align: left; text-align: justify;">
            <span class="h4">Reservation :</span> as per norms of Govt./ MMMUT.
        </p>
        <p style="text-align: left; text-align: justify;">
            <span class="h4">Eligibility</span> :  The candidate should have passed the recognized Bachelor’s degree in science stream of minimum three years duration from any University of India as recognized by UGC. The candidates must have passed qualifying examination with Chemistry as a subject for all the three years and obtained minimum 50% marks (45% in case of candidates belonging to SC/ST category) in the qualifying examination. 
        </p> <br>  
    </div>

                        <div class="clear">
                        </div>
                    </div>
{% endblock %}