
{% extends 'index.html' %}


{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Admission</u> <span class="lnr lnr-arrow-right text-white"> U.G.</span></h1>
            </div>	
        </div>
    </div>
</section> 

<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
<!-- <div class="content">
    <div class="content_bottom">
        
<div class="w_content"> -->

<h3>ADMISSION Ph.D.</h3>
<hr>

<p style="text-align: left; text-align: justify;">
In every academic session, the Madan Mohan Malaviya University of Technology, Gorakhpur invites applications for admission to Ph.D programme in the area of Engineering and Applied Sciences (Applied Physics, Applied Chemistry, Applied Mathematics, Economics and English). The admission is made through Malaviya Entrance Test conducted by MMMUT except for the admissions under Quality Improvement Programme.


</p><br>
<h3>Eligibility:</h3>
<hr>
<p style="text-align: left; text-align: justify;">
Candidates who possess the Bachelor and master’s degree in Engineering/ Technology/Science/Management or equivalent in the relevant discipline with 1st Division in master’s degree are eligible for the admission to Ph.D. Programme


</p>
<br>

<h3>Ph.D. under Quality Improvement Programme</h3>
<hr>

<p style="text-align: left; text-align: justify;">
The university has also been approved as a QIP centre by A.I.C.T.E. to offer Ph.D. under Quality Improvement Programme. The total intake for Ph.D. under QIP is 8 (2 seats in each of the four disciplines i.e. EE, EC, CE and ME).<a name="_GoBack"></a>
</p>


</div>


        <div class="clear">
        </div>
    </div>
</div>
{% endblock %}