{% extends 'index.html' %}


{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Admission</u> <span class="lnr lnr-arrow-right text-white"> U.G.</span></h1>
            </div>	
        </div>
    </div>
</section>
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
<!-- <div class="content">
                    <div class="content_bottom"> -->
                        

    <style type="text/css">
        td {
            padding: 3px !important;
        }
    </style>
    <!-- <div class="w_content">
        <h2><u>ADMISSION</u>
            <span class="glyphicon glyphicon-arrow-right"></span>
            UG COURSES</h2>
        <hr> -->

        <h3>BACHELOR OF TECHNOLOGY (B.Tech.)</h3><hr><br>
        <div class="clr"></div>
        <h4 align='left'>Admission Policy</h4>
        <br>
        <div class="clr"></div>
        <p style="text-align: left; text-align: justify;">The admission is open to candidates under existing Government policies for both sexes without distinction of caste, creed &amp; colour. Admission to Bachelor of Technology, courses is through an Admission Test conducted by MMMUT.</p>
        <br>
        <h4 align='left'>Course Details:</h4>
        <br>
        <div class=" table-responsive">
            <style>
                .w_tbc tr td:nth-child(3) {
                    text-align: center;
                }
            </style>
            <table border="1" class=" table table-bordered table-condensed table-striped table-hover w_tbc">
                <tbody><tr class="w_trbg" style="height: 20px">
                    <td class="w_trbg">Sl. No.
                    </td>
                    <td class="w_trbg">Course – Branch
                    </td>
                    <td class="w_trbg">Intake in I<sup>st</sup> Year
                    </td>
                    <td class="w_trbg">Intake in 2<sup>nd</sup> Year
                    </td>
                </tr>
                <tr>
                    <td>1. 
                    
                    </td>
                    <td>B.Tech. Civil Engineering (CE)
                            
                        
                    
                    </td>
                    <td>150
                    
                    </td>
                    <td rowspan="7">20% of sanctioned intake in each course
                    
                    </td>
                </tr>
                <tr>
                    <td>2. 
                    
                    </td>
                    <td>B.Tech. Electrical Engineering (EE)
                            
                        
                    
                    </td>
                    <td>150
                    
                    </td>
                </tr>
                <tr>
                    <td>3. 
                    
                    </td>
                    <td>B.Tech. Mechanical Engineering (ME)
                            
                        
                    
                    </td>
                    <td>150
                    
                    </td>
                </tr>
                <tr style="mso-yfti-irow: 4">
                    <td>4. 
                    
                    </td>
                    <td>B.Tech. Electronics &amp; Communication Engineering (EC)
                            
                        
                    
                    </td>
                    <td>150
                    
                    </td>
                </tr>
                <tr>
                    <td>5. 
                    
                    </td>
                    <td>B.Tech. Computer Sc. &amp; Engineering (CS)
                            
                        
                    
                    </td>
                    <td>150
                    
                    </td>
                </tr>
                <tr>
                    <td>6. 
                    
                    </td>
                    <td>B.Tech. Chemical Engineering (CH)
                            
                        
                    
                    </td>
                    <td>75
                    
                    </td>
                </tr>
                <tr>
                    <td>7. 
                    
                    </td>
                    <td>B.Tech. Information Technology (IT)
                    
                    </td>
                    <td>75
                    
                    </td>
                </tr>
                <tr>
                    <td>8. 
                    
                    </td>
                    <td>Bachelor of Business Administration (BBA)
                    
                    </td>
                    <td>60
                    
                    </td>
                    <td>--
                    
                    </td>
                </tr>
            </tbody></table>
            <p style="text-align: left; text-align: justify;">
                1. <b style="color: black;">For the first year of the Bachelor of Technology courses:</b> The candidate should have passed 10 + 2 examination with at least 55%marks (50%in case of candidate belonging to SC/ST category) and with at least 60% average marks (55%in case of candidate belonging to SC/ST category)in Mathematics, Physics and Chemistry.
            </p>
            <p style="text-align: left; text-align: justify;">
                2. <b style="color: black;">For the Second year of the Bachelor of Technology courses : </b>
            </p>
            <p style="text-align: left; text-align: justify;">
                1. Diploma holders: Passed 3 / 4-year Diploma examination from an Institution recognized by U.P. Board of Technical Education in any branch of Engineering/Technology except Agriculture Engineering with at least 60% marks (55% in case of candidates belonging to SC/ST category).
            </p>
            <p style="text-align: left; text-align: justify;">
                2. B.Sc. graduates: Passed 3/4 year B.Sc. degree from any recognized University of India as defined by UGC with at least 60% marks (55% in case of candidates belonging to SC/ST category) and having passed 10+2 exam with Mathematics as a subject.
The candidates belonging to B.Sc. stream shall be considered only after filling the seats with the candidates belonging to the diploma stream.  
            </p>
            <p style="text-align: left; text-align: justify;">
                3. <b style="color: black;">For the first year of the Bachelor of Business Administration (BBA):</b>
The candidate should have passed 10 + 2 examination in any discipline, with at least 55% marks (50% in case of candidate belonging to SC/ST category) and English must be one of the subjects at 10+2 level.

            </p style="text-align: left; text-align: justify;">
        </div>       


        <h4 align='left'>Note:</h4><br>
        <p style="text-align: left; text-align: justify;">Candidates who have appeared or are due to appear in the qualifying examination mentioned above are also eligible to apply and appear in Admission Test conducted by MMMUT. No Candidate shall be allowed to take his/her admission in case he/she fails to pass the qualifying Examination.</p>
        <div class="clr"></div>
        <h4 align='left'>Allotment of Branch</h4><br>
        <div class="clr"></div>
        <p style="text-align: left; text-align: justify;">The allotment of branch of study will be made at the time of the counseling on the basis of candidate's merit position in the Admission Test conducted by MMMUT, availability of seats, the choice and the eligibility of the candidate at the time of his/her counseling. Branch change is not permissible after First year. </p>
        <div class="clr"></div>
        <h4 align='left'>Reservation</h4><br>
        <div class="clr"></div>
        <p style="text-align: left; text-align: justify;">The reservation in admission to the University is regulated by the reservation policy of U.P. Govt. The details of the same are brought out in the Admission Information Brochure of the University.</p>
        <div class="clr"></div>
        <h4 align='left'>Admission of Govt. Nominees</h4><br>
        <div class="clr"></div>
        <p style="text-align: left; text-align: justify;">The provision for admitting the nominee students belonging to states lacking Engineering Education facility as reserved by Government of India are also available in the University as per quota allotted from time to time. For admission of such nominee candidates, at least 50% marks in Physics, Chemistry and Mathematics &amp; / Computer are essential in qualifying examination (i.e. in 10 + 2 level or equivalent examination).</p>
        <div class="clr" style="text-align: left; text-align: justify;">
        The award of degree shall be made by the university on successful completion of the respective Course.
Note : The University reserves the right to cancel at any stage the admission of a candidate who has been found disqualified in accordance with the rules and regulations enforced at the time of admission or if the candidate has been found to furnish wrong information or involved in gross misconduct at any stage during the course.
</div><br>
        <h4 align='left'>Award of Degree</h4><br>
        <div class="clr"></div>
        <p style="text-align: left; text-align: justify;">
            The award of degree shall be made by the university on successful completion of the respective Course.
<br>Note : The University reserves the right to cancel at any stage the admission of a candidate who has been found disqualified in accordance with the rules and regulations enforced at the time of admission or if the candidate has been found to furnish wrong information or involved in gross misconduct at any stage during the course.
 </p>
        <div class="clr"></div>
        <h4 align='left'>Fees and Other Details</h4><br>
        <div class="clr"></div>
        <p style="text-align: left; text-align: justify;">Fee etc. as prescribed shall be realized in each year at the time of registration in Odd Semester. Students will be required to deposit/pay the increased fee and user charges subject to revision by the University/ Govt. from time to time.</p>
        <div class="clr"></div>
        <h4 align='left'>Note :</h4><br>
        <div class="clr"></div>
        <div style="line-height: 21px; text-align: justify; text-align: left;">
            (a) The students have to deposit the fees and dues in accordance with the notifications. It has no concern with class or date of receipt of stipend etc.<br>
            (b) Fees once deposited shall not be refunded under any circumstances except the refundable component.<br>
            (c) The refund of caution money shall have to be claimed back by students if they so desire within stipulated period of one year after completion of the course failing which . It will be considered as lapsed and utilized for development/work.<br>
        </div><br>


    </div>



                        <div class="clear">
                        </div>
                    </div>
                </div>
<div class="content">
    <div class="content_bottom">
        


{% endblock %}