{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Department</u> <span class="lnr lnr-arrow-right text-white"> Computer Science & Engineering</span></h1>
                
            </div>	
        </div>
    </div>
</section> 
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
<!-- <div class="content">
    <div class="content_bottom" style="height: 502px"> -->
        
      <img src="{% static 'img/Computer.jpg' %}" style="padding-bottom: 20px" width="100%">
      <h3 align='left'>Computer Science & Engineering<u></u> <span class="lnr lnr-arrow-right"> About</span></h3><hr>
<!-- <div class="content">
    <div class="content_bottom" style="height: 502px">
        <img src="images/Computer.jpg" style="padding-bottom: 20px" width="100%">
         -->
<!-- <div class="w_content">
<h2><u>COMPUTER SCIENCE &amp; ENGINEERING</u>
<span class="glyphicon glyphicon-arrow-right"></span>
ABOUT</h2><hr> -->

<!-- <div class="clr"></div>
<h4>About Department</h4>
<div class="clr"></div> -->

<p style="text-align: left; text-align: justify;">
B.Tech(CSE) offered by this department has been accredited by National Board of Accreditation as per Washington Accord.<br><br>
This department was established in 1984 and with time it has earned the recognition as one of 	the top Computer Science &amp; Engg. programs in the UP. The department offers B.Tech. in 	Computer Science &amp; Engineering. Besides B.Tech., the department is also running Master of 	Computer Application (MCA). The department has also started M.Tech. in Computer Science 	&amp; Engineering and is the first in offering this PG program among UP Govt. aided 	Engineering Institutions. In parallel the department also offers M.Tech. in Information 	Technology.<br><br>

The Department has a number of laboratories equipped with state-of-the-art computing 	facilities to support the research and teaching activities especially in areas of Mobile 	Computing/Databases, Computer Networking etc. A departmental library with about 500 	books on Computer Science for the exclusive use of the faculty and students is located in 	the premises of the Department.<br><br>

<b style="color:#fb0000">From HoD's Desk</b>



</p>





</div>

        <div class="clear">
        </div>
    </div>
</div>
{% endblock %}