{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Department</u> <span class="lnr lnr-arrow-right text-white"> Electronics & Communication Engineering</span></h1>
                
            </div>	
        </div>
    </div>
</section> 
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
<!-- <div class="content">
    <div class="content_bottom" style="height: 502px"> -->
        
      <img src="{% static 'img/Electronics.jpg' %}" style="padding-bottom: 20px" width="100%">
      <h3 align='left'>Electronics & communication Engineering<u></u> <span class="lnr lnr-arrow-right"> About</span></h3><hr>

<!-- <div class="content">
    <div class="content_bottom" style="height: 502px">
  <img src="images/Electronics.jpg" style="padding-bottom: 20px" width="100%"> -->
        
<!-- <div class="w_content">
<h2><u>Electronics &amp; Communication Engineering</u>
<span class="glyphicon glyphicon-arrow-right"></span>
ABOUT</h2><hr> -->

<p style="text-align: left; text-align: justify;"> The Department of Electronics &amp; Communication Engineering was established in the year 1973 with an intake of 20 and has been gradually increased to 75 from the academic session 2000-2001 and 120 from the academic session 2015-2016. The Department has made all round progress in the last four decades as a result of firm determination and continuous efforts made by all the faculty members and staff of the department.
<br><br>
The Department offers full time M.Tech. in “Digital Systems” and “Communication Engineering” from the academic session 2003-2004 and 2012-2013 respectively with an intake of 18 students in each specialization. The Department also offers regular Ph.D. program through QIP &amp; TEQIP/University schemes.  To enhance the knowledge of students and fulfill the gap among the academia and industries, the Department has recently established the Center of Excellence (CoE) Lab by the Texas Instruments under the Texas Instruments University Program.<br><br>


</p>

<div class="clr"></div>
<h3 align='left'>ELECTRONICS &amp; COMMUNICATION ENGINEERING DEPARTMENT</h3>
<div class="clr"></div>
<h3 align='left'>Departmental Laboratories </h3>
<div class="clr"></div><img align='right' class="float-rt" src="{% static 'img/department3.gif' %}">
<p style="text-align: left; text-align: justify;"><br><b style="color: black;">The department is having following well-equipped laboratories:</b> <br>
</p><ol align='left' style="padding: 10px; list-style-type: decimal; list-style-position: outside">
<li>Microwave &amp; Optical Fiber Lab.	</li>
<li>Communication Lab.	</li>
<li>CAD Lab/DSP Lab	</li>
<li>Basic Electronics Lab.	</li>
<li>Electronics Measurement &amp; Instrumentation Lab.	</li>
<li>PCB &amp; Electronics Workshop Lab.	</li>
<li>Digital Electronics &amp;Micro-Processor Lab.	</li>
<li>VLSI &amp; Research Lab.	</li>
<li>Center of Excellence (CoE) Lab.	</li>
</ol>
<p></p>
<div class="clr"></div>


</div>

        <div class="clear">
        </div>
    </div>
</div>
{% endblock %}