
{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Department</u> <span class="lnr lnr-arrow-right text-white">Information Technology & Computer Application</span></h1>
                
            </div>	
        </div>
    </div>
</section>

<!-- <div class="content">
    <div class="content_bottom" style="height: 502px">
        <img src="images/Computer.jpg" style="padding-bottom: 20px" width="100%">
        
<div class="w_content">
<h2><u>Information Technology &amp; Computer Application</u>
<span class="glyphicon glyphicon-arrow-right"></span>
ABOUT</h2><hr> -->
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
        <img src="{% static 'img/itca.jpg' %}" style="padding-bottom: 20px" width="100%">
        <h3 align='left'>Information Technology & Computer Application<u></u> <span class="lnr lnr-arrow-right"> About</span></h3><hr>


<div class="clr"></div>

<p style="text-align: left; text-align: justify;">

The Department of Information Technology and Computer Application (ITCA) was inaugurated on 24th August 2018 by Hon’ble Chancellor of Uttar Pradesh Shri Ram Naik in the magnanimous presence of Hon’ble Vice-Chancellor of MMMUT Gorakhpur, Prof. S. N Singh. The department became functional from 25th August 2018 with two PG programs - <b>MCA</b> and <b>M.Tech.</b> It has also started one UG program- <b>B.Tech. (IT)</b> from session 2019-20. <br><br>

The ITCA department aims to achieve national and international recognition through the educational and research achievements of its students. The department has dedicated and highly motivated faculty members who make all effective efforts to prepare the students to be successful IT professionals making significant contribution to the development and growth of our nation. The department has a vast legacy of well-placed and highly reputed alumni working in India and abroad.
<br><br>
<b ></b></p><ul><h4 align='left' style="color: black;" >Vision of the Department</h4></ul>
<p style="text-align: left; text-align: justify;">
To become pioneer in the field of Information Technology and Computer Applications in the country by imparting quality education with excellent teaching-learning processes and research methodologies.</p>
<br>
<center>
<table style="border-collapse:collapse; width:50%;padding:5px" border="1">
<tbody><tr><td><b>Courses Offered</b></td><td><b>Present Intake (Starting Year)</b></td></tr>
<tr><td>MCA	</td><td>75 (1987)</td></tr>
<tr><td>MTech(IT)	</td><td>22 (2012)</td></tr>
<tr><td>BTech(IT)</td><td>75 (2019)</td></tr>
</tbody></table>
</center>



    



<p></p>




</div>

        <div class="clear">
        </div>
    </div>
</div>
{% endblock %}