{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Department</u> <span class="lnr lnr-arrow-right text-white"> Physics & Material Science</span></h1>
                
            </div>	
        </div>
    </div>
</section> 
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
<!-- <div class="content">
    <div class="content_bottom" style="height: 502px"> -->
        
      <img src="{% static 'img/Applied1.jpg' %}" style="padding-bottom: 20px" width="100%">
      <h3 align='left'>Department of Physics & Material Science<u></u> <span class="lnr lnr-arrow-right"> About</span></h3><hr>

<!-- <div class="content">
    <div class="content_bottom" style="height: 502px">
      <img src="images/Applied1.jpg" style="padding-bottom: 20px" width="99%">
          

<h2><u style="text-transform: uppercase;">DEPARTMENT OF PHYSICS AND MATERIAL SCIENCE </u>
<span class="glyphicon glyphicon-arrow-right"></span>
ABOUT</h2>
<hr> -->




<div>

<p style="text-align: left; text-align: justify;">
  The Department of Physics and Material Science was established on 22<sup>nd</sup> June, 2019. Which has been inaugurated by Shri Yogi Adiyanath Ji Maharaj, Hon’ble Chief Minister of Uttar Pradesh. Previously, it has been the constituent part of Department of Applied Sciences. The erstwhile Madan Mohan Malaviya Engineering College, Gorakhpur, which was started in 1962, by the then Government of Uttar Pradesh to foster technical education, has been upgraded as Madan Mohan Malaviya University of Technology, Gorakhpur on 1<sup>st </sup>Dec. 2013 by the UP-Government Act (22). The department of Physics and Material Science has been founded for imparting high quality education through the programs; B. Tech in Chemical Engineering, Civil Engineering, Computer Science &amp; Engineering, Electrical Engineering, Electronics &amp; Communication Engineering, Information Technology, Mechanical Engineering and M.Sc. in Physics with specialization in electronics. 
</p>

<p style="text-align: left; text-align: justify;">
  The main objective of the department is to disseminate knowledge in the area of Physics and Material Science, in order to promote the implementation of practical aspects related to it and to build a solid foundation of physics for science and engineering graduates. The department offers Ph. D. degree in Physics, with an objective to produce trained and skilled human resources; who can take the challenges to cater the need of the society. The research is focused to thrust areas as: Con­densed Matter Physics, Solar Energy Physics, Thin Films, Opto-electronic Materials and Devices, Fiber Optic Sensors, Solar Cell, E<span lang="EN-IN">nergy Storage,</span> Applications of Nanomaterial, Micro &amp; Nano-fluids, Molecular Simulation etc.
</p>

<p style="text-align: left; text-align: justify;">
  The Department is also committed, to promote teaching and research, in thrust and emerging areas of Physics. It encourages for academic interaction of students and faculty members for collaboration at national and international levels. Department has started M.Sc. program in Physics with specialization in electronics from the session 2018-19. The Department has well equipped laboratories for under graduate, post graduate as well as Ph.D. students. Well-educated, talented and dedicated faculty members are consistently engaged to meet the objective of the department. 
</p><br>


<h3 align='left'>DEPARTMENTAL ACTIVITIES DURING THE SESSION 2018-19
</h3>
<br>

<p style="text-align: left; text-align: justify;">
  ● TEQIP Sponsored short term course on “Research Methodology and Statistics during 24-30 October, 2018.
</p>
<p style="text-align: left; text-align: justify;">
  ● TEQIP Sponsored two days National Conference on “Smart Materials, Devices and Sustainable Technologies” during 15-16 March-2019.
</p>
<p style="text-align: left; text-align: justify;">
  ● TEQIP Sponsored two days National Conference on “Recent Advances in Chemical Sciences” 29<sup>th</sup> -30<sup>th</sup> March-2019.
</p>
<p style="text-align: left; text-align: justify;">
  ● TEQIP sponsored two days National Conference on “Recent Advances in Mathematics and Scientific Computing” during 5-6 April, 2019.
</p>
<p style="text-align: left; text-align: justify;">
  ● One Research Scholars have been awarded Ph.D. degree during 2018-19
</p>
<p style="text-align: left; text-align: justify;">
  ● Department have coordinated Induction program for newly admitted students (IPNS- 18).
</p>
<p style="text-align: left; text-align: justify;">
  ● Four books have been published from international publishers and one is in press.
</p>
<p style="text-align: left; text-align: justify;">
  ● More than 27 research papers are published in the journals and conferences of national and international repute.
</p><br>


<h3 class=" text-center">
  <b>MAJOR ACHIEVEMENT OF THE DEPARTMENT DURING SESSION 2018-19</b>
</h3><br>
<h4 class=" text-center">Publication &amp; Training Programs
</h4><br>
<div class=" table-responsive">
  <table class=" table table-bordered table-striped" style="font-size:11px">
      <tbody><tr class=" w_trbg">
          <td rowspan="2">Name of Department
         
          </td>
          <td rowspan="2">No. of Papers in Journal
          
          </td>
          <td colspan="2" width="157">No. of Papers in Conference
          
          </td>
          <td rowspan="2">No. of Books/ Book Chapters 
          
          </td>
          <td colspan="2" width="146">No. of Conferences 
          
          </td>
          <td colspan="2" width="155">No. of STC/ Workshop
          
          </td>
      </tr>
      <tr>
          <td>National
          
          </td>
          <td>International 
          
          </td>
          <td>Organized
          
          </td>
          <td>Attended 
          
          </td>
          <td>Organized 
          
          </td>
          <td>Attended
          
          </td>
      </tr>
      <tr>
          <td>Physics and Material Science
          
          </td>
          <td>27
          
          </td>
          <td>NIL
          
          </td>
          <td>06
          
          </td>
          <td>06
          
          </td>
          <td>03
          
          </td>
          <td>11
          
          </td>
          <td>2
          
          </td>
          <td>5
          
          </td>
      </tr>
  </tbody></table>
</div><br>

<h3>OTHER ACTIVITIES </h3><br>

<div class=" table-responsive">
  <table class=" table table-bordered table-striped">
      <tbody><tr class=" w_trbg">
          <td width="243">Name of Department 
              
          </td>
          <td width="435">Name of Activities 
              
          </td>
      </tr>
      <tr>
          <td width="243">
              <p align="center">
                  Physics and Material Science 
              </p>
          </td>
          <td width="435">
              <p style="text-align: left; text-align: justify;">
                  ● Department has organized three national conferences
              </p>
              <p style="text-align: left; text-align: justify;">
                  ● New Laboratory of Condensed Matter Physics has been established for M.Sc. Physics students. 
              </p>
              <p style="text-align: left; text-align: justify;">
                  ● New Laboratory of Spectroscopy and Laser has been established for M.Sc. Physics students.
              </p>
              <p style="text-align: left; text-align: justify;">
                  ● New Advisory committee for the department has been formed.
              </p>
              <p style="text-align: left; text-align: justify;">
                  ● Research Scholar Day celebrated on 17 Dec. 2018.
              </p>
              <p style="text-align: left; text-align: justify;">
                  ● Invited Lecture was organized on 28<sup>th</sup> March 2019 on “Mangalyan Journey to Mars” by Prof. A. K. Singh, Banaras Hindu University, Varansi.
              </p>
              <p>
              </p>
          </td>
      </tr>
  </tbody></table>
</div>
</div>




          <div class="clear">
          </div>
      </div>
  </div>
{% endblock %}