{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>About The institute</u> <span class="lnr lnr-arrow-right text-white">Mission</span></h1>
                
            </div>	
        </div>
    </div>
</section>
<div class="container">
    <!-- <div class="content_bottom"> -->
        


        <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
            <h1>
            MISSION</h1><hr><br>
    <p style="text-align: left; text-align: justify;">
       <b style="font-weight: bold;color: black;font-size: 20px;"> The distinctive mission of the University is:</b></p><br>
<ul style="list-style-type:disc;">
    
<li style="text-align: left; text-align: justify;">serve society as a center of higher learning, providing long-term 

societal benefits through transmitting advanced knowledge, discovering 

new knowledge and functioning as an active working repository of 

organized knowledge; </li><br>

<li style="text-align: left; text-align: justify;"> to take leadership role by providing need based programs in engineering 

and technology, applied sciences, management, humanities, 

architecture, pharmacy,  retail and fashion design, mass-communication, 

agriculture and other employable courses in emerging areas;</li><br>

<li style="text-align: left; text-align: justify;"> to promote compassionate care of the highest quality that translates 

new knowledge into meaningful improvements in technological 

outcomes through interdisciplinary collaboration, fiscal responsibility, 

support of diversity, a focus on quality and a culture of professionalism;</li><br>

<li style="text-align: left; text-align: justify;"> to establish value creating networks and foster relationship with other 

leading institutes of higher learning and research, alumni and industries 

in order to provide significant contribution to national and international 

development;</li><br>

<li style="text-align: left; text-align: justify;"> to create an intellectually stimulating Infrastructure and conducive 

environment for technology research, scholarship, creativity, innovation, 

entrepreneurship  and professional activity for service to community and 

economy.</li></ul>
</div><br>


        <div class="clear">
        </div>
    </div>
</div>


{% endblock %}