{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>Academics</u> <span class="lnr lnr-arrow-right text-white"> Syllabus</span></h1>
                
            </div>	
        </div>
    </div>
</section>  
<div class="container">   
    <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;"></div>
   
<!-- <div class="content">
    <div class="content_bottom">
        
<div class="w_content"> -->



<ul class="nav nav-tabs" id="myTab">
<li  class="active" ><a class="h3" href="#home1" data-toggle="tab" >SYLLABUS</a></li>&nbsp;&nbsp;
<li  class="" ><a class="h3" href="#profile" data-toggle="tab">TIME-TABLE</a></li>

</ul>

<div class="tab-content">
<div class="tab-pane active" id="home1"><table align="center" width="95%">
<tbody><tr>
<td align="left">
 </td>
</tr>
<tr>
<td>
 &nbsp;</td>
</tr>
<tr>
<td>
 <div>
<table cellspacing="2" cellpadding="2" border="0" id="ctl00_ContentPlaceHolder3_GridView1" style="width:100%;">
<tbody><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl02_Hyp1" href="{% static 'pdf/sy_160120112823.pdf' %}" target="_blank">Revised Credit Structure &amp; Syllabus of M.Tech.(Computer Science &amp; Engineering))</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl02_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl03_Hyp1" href="{% static 'pdf/sy_270919093608.pdf' %}" target="_blank">Credit Structure &amp; Syllabus of M.Tech.(Information Technology)</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl03_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl04_Hyp1" href="{% static 'pdf/sy_200919051714.pdf' %}" target="_blank">Syllabus of B.B.A.</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl04_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl05_Hyp1" href="{% static 'pdf/sy_270819104107.pdf' %}" target="_blank">Curriculum for Master of Science in Mathematics (Specialization in Computing)</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl05_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl06_Hyp1" href="{% static 'pdf/sy_250719104531.pdf' %}" target="_blank">Credit Structure &amp; Syllabus of M.C.A.</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl06_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl07_Hyp1" href="{% static 'pdf/sy_190719114034.pdf' %}" target="_blank">Revised Curriculum for Master of Science Physics(Specialisation in Electronics) with effect from 2019-20</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl07_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl08_Hyp1" href="{% static 'pdf/sy_240619113404.pdf' %}" target="_blank">Credit Structure &amp; First Yr. Syllabus of B.Tech.(IT) (2019-20)</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl08_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl09_Hyp1" href="{% static 'pdf/sy_240119043808.pdf' %}" target="_blank">CREDIT STRUCTURE &amp; SYLLABI of M.Sc. Physics (Specialization in Electronics)</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl09_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl10_Hyp1" href="{% static 'pdf/sy_240317110747.pdf' %}" target="_blank">CURRICULA &amp; SYLLABI of Electrical Engg. Department</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl10_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl11_Hyp1" href="{% static 'pdf/sy_240317110331.pdf' %}" target="_blank">Academic M.Tech. Syllabus of Electrical Engg. Deptt.</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl11_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl12_Hyp1" href="{% static 'pdf/sy_090916053806.pdf' %}" target="_blank">CURRICULA &amp; SYLLABI of Applied Science  Department </a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl12_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl13_Hyp1" href="{% static 'pdf/sy_090916053340.pdf' %}" target="_blank">CURRICULA &amp; SYLLABI of Chemical Engg. Department</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl13_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl14_Hyp1" href="{% static 'pdf/sy_160120113238.pdf' %}" target="_blank">CURRICULA &amp; SYLLABI of Computer Sc. &amp; Engg. Department</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl14_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl15_Hyp1" href="{% static 'pdf/sy_090916053027.pdf' %}" target="_blank">CURRICULA &amp; SYLLABI of Civil Engg. Department</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl15_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl16_Hyp1" href="{% static 'pdf/sy_090916052324.pdf' %}" target="_blank">CURRICULA &amp; SYLLABI of Electronics &amp; Communication  Engg. Department</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl16_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl17_Hyp1" href="{% static 'pdf/sy_090916051903.pdf' %}" target="_blank">CURRICULA &amp; SYLLABI of Mechanical Engg. Department</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl17_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl18_Hyp1" href="#" target="_blank">Open Electives Offered by the Departments</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl18_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl19_Hyp1" href="{% static 'pdf/sy_060716112823.pdf' %}" target="_blank">Syllabus of Centre for Management Studies</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl19_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl20_Hyp1" href="ModelPapers/sy_070814080951.pdf" target="_blank">Academic M.Tech. Syllabus</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl20_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView1_ctl21_Hyp1" href="{% static 'pdf/sy_150714112915.pdf' %}" target="_blank">M.tech. Ordinances, Curricula and Syllabi</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView1_ctl21_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</td>
</tr>
<tr>
<td>
 
</td>
</tr>
</tbody></table></div>
<div class="tab-pane" id="profile"><table align="center" width="95%">
<tbody><tr>
<td align="left">
 </td>
</tr>
<tr>
<td>
 &nbsp;</td>
</tr>
<tr>
<td>
 <div>
<table cellspacing="2" cellpadding="2" border="0" id="ctl00_ContentPlaceHolder3_GridView2" style="width:100%;">
<tbody><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView2_ctl02_Hyp1" href="{% static 'pdf/sy_161219124032.pdf' %}" target="_blank">Time Table Even Semester B.Tech First Year IT and CH ( Session: 2019-20)</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView2_ctl02_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView2_ctl03_Hyp1" href="{% static 'pdf/sy_161219124112.pdf' %}" target="_blank">Time Table Even Semester B.Tech First Year CSE, CE, EE, ME and ECE ( Session: 2019-20</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView2_ctl03_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView2_ctl04_Hyp1" href="{% static 'pdf/sy_161219124145.pdf' %}" target="_blank">Time Table Even Semester Master of Computer Application (MCA) Session: 2019-20</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView2_ctl04_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView2_ctl05_Hyp1" href="{% static 'pdf/sy_161219124432.pdf' %}" target="_blank">Time Table Even Semester M.Tech. CSE and IT Session: 2019-20</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView2_ctl05_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr><tr align="left">
<td>
                  <table cellpadding="0" cellspacing="0" style="font-family: verdana; font-size: 11px; color: #333333; text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
<tbody><tr>
<td colspan="3" style="padding-left: 10px; padding-right: 5px">
<b>&nbsp;</b><b><a id="ctl00_ContentPlaceHolder3_GridView2_ctl06_Hyp1" href="{% static 'pdf/sy_161219124521.pdf' %}" target="_blank">Time Table B.Tech Computer Science and Engineering Even Semester Session: 2019-20</a> </b>  <img id="ctl00_ContentPlaceHolder3_GridView2_ctl06_Image1" src="{% static 'img/new.gif' %}" style="border-width:0px;"></td>
</tr>
<tr>
<td width="35%" style="padding-left: 10px; padding-right: 5px">

</td><td width="35%">

</td>
<td align="right" width="30%" style="padding-left: 10px; padding-right: 10px">
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
</td>
</tr>
<tr>
<td>
 
</td>
</tr>
</tbody></table></div>

</div>















</div>


        <div class="clear">
        </div>
    </div>
</div>
{% endblock %}