{% extends 'index.html' %}

{% load static %}

{% block content %}
<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <!-- <h1 class="text-white">
                    Course				
                </h1>	 -->
                <h1><u>About The institute</u> <span class="lnr lnr-arrow-right text-white">Vision</span></h1>
                
            </div>	
        </div>
    </div>
</section>
<div class="container">
    <!-- <div class="content_bottom"> -->
        


        <div class="col-lg-12" style="margin-top: 50px;padding: px 0px;text-align: center;">
            <h1>
            VISION</h1><hr><br>
            <p style="text-align: left; text-align: justify;">
                To facilitate and promote studies, research, technology incubation, product innovation and extension work in Science, Technology and Management Education, and also to achieve excellence in higher technical education .</p>
                <br>
            <h2 align='left'>
                Values</h2><br>
                <ul style="list-style-type: disc;"><li style="text-align: left; text-align: justify;"> 
                    <strong>Student Success and Completion</strong>: Meeting student needs by creating an educational environment in which students can attain a variety of goals. </li><li style="text-align: left; text-align: justify;"> 
                    <strong>Excellence</strong>: Maintaining a high standard of integrity and performance leading to the achievement of academic and career goals. </li><li style="text-align: left; text-align: justify;">  
                    <strong>Collaboration</strong>: Seeking input from all sectors of the college and the community. </li><li style="text-align: left; text-align: justify;"> 
                    <strong>Diversity</strong>: Fostering a learning community in which the diverse values, goals, and learning styles of all students are recognized and supported. </li><li style="text-align: left; text-align: justify;"> 
                    <strong>Life-Long Learning</strong>: Encouraging enthusiastic, independent thinkers and learners striving for personal growth. </li><li style="text-align: left; text-align: justify;"> 
                    <strong>Integrity</strong>: Behaving ethically in all interactions at all levels. </li><li style="text-align: left; text-align: justify;"> 
                    <strong>Technological Advancement</strong>: Implementing cutting-edge technology that enhances instruction and prepares students for life-long success. </li></ul>
                </div><br>


                <div class="clear">
                </div>
            </div>
        </div>
        {% endblock %}
            
            
